/netbeans/JavaApplication1/nbproject/private/
/netbeans/JavaApplication1/build/
/netbeans/Peliculas/nbproject/private/
/netbeans/mavenproject1/target/
/netbeans/ManejoJDBC2/target/
/netbeans/HolamundoJavaWeb/target/
/HolaMundoJavaWeb/target/
/netbeans/manejoParametros/target/
/netbeans/ManejoFormulariosHTML/target/
/netbeans/manejoCodigosEstado/target/
/netbeans/CabecerosRespuesta/target/
/netbeans/ManejoCookies/target/
/netbeans/SessionesHTTP/target/
/netbeans/carritoCompras/target/
/netbeans/expresionesjsp/target/
/netbeans/reporteExcel/target/
/netbeans/inclusionEstatica/target/
/netbeans/javabeansJSP/target/
/netbeans/ejemploJSLT/target/
