/netbeans/JavaApplication1/nbproject/private/
/netbeans/JavaApplication1/build/
/netbeans/Peliculas/nbproject/private/
/netbeans/mavenproject1/target/
/netbeans/ManejoJDBC2/target/
/netbeans/HolamundoJavaWeb/target/
/HolaMundoJavaWeb/target/
/netbeans/manejoParametros/target/
/netbeans/ManejoFormulariosHTML/target/
/netbeans/manejoCodigosEstado/target/
/netbeans/CabecerosRespuesta/target/
/netbeans/ManejoCookies/target/
/netbeans/SessionesHTTP/target/
/netbeans/carritoCompras/target/
/netbeans/expresionesjsp/target/
/netbeans/reporteExcel/target/
/netbeans/inclusionEstatica/target/
/netbeans/javabeansJSP/target/
/netbeans/ejemploJSLT/target/
/netbeans/ejemplo1MVS/target/
/netbeans/controlClientes/target/
/ControlClientes/target/
/netbeans/holaMundoJSF/target/
/netbeans/web_holaMundoJSF_Beans/target/
/netbeans/CicloVidaJSF/target/
/netbeans/ListenersChanges/target/
/netbeans/HolaEE/target/
/JBE/HolaMundoEJB/target/
/sga-jee/target/
/holamundo-jpa/target/
/jpaejercicios/sga-jee-web/target/
/netbeans/IntroduccionJDBD/target/
/netbeans/ManejoJDBC1/target/
/netbeans/ManejoJDBCTransacciones/target/
/ManejoJDBC/target/
/ManejoJDBCPerona/target/
/JDBCApache/target/
/netbeans/manejoParametrosServelet/target/
/netbeans/CabecerosRespuestaA/target/
/netbeans/ExpresionesJSPA/target/
/netbeans/ExcelJSP/target/
/netbeans/Incluciones/target/
/netbeans/JavaBeansManejo/target/
